{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block css_style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">		
{% endblock css_style_block %}

{% block background_image %}
    <div class="background_image" style="background-image:url({% static 'images/index_hero.jpg' %})"></div>
{% endblock background_image %}


{% block header_nav_list %}
<ul class="d-flex flex-row align-items-center justify-content-start">
        <li class="active"><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="contact.html">Contact</a></li>
</ul>
{% endblock header_nav_list %}

{% block home_container %}
<div class="home_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content">
                    <div class="home_title">Test Home Title</div>
                    <div class="home_text">Test Home Content</div>
                    <div class="button home_button"><a href="#"><span>read more</span><span>read more</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>            
{% endblock home_container %}


{% block main_content %}
	<!-- Info Boxes -->

	<div class="info">
		<div class="container">
			<div class="row row-eq-height">

				<!-- Info Box -->
				<div class="col-lg-4 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="{% static 'images/info_1.jpg' %}" alt=""></div>
						<div class="info_content">
							<div class="info_title">Test Info Title</div>
							<div class="info_text">Test Info text</div>
							<div class="button info_button"><a href="#"><span>read more</span><span>read more</span></a></div>
						</div>
					</div>
				</div>

				<!-- Info Box -->
				<div class="col-lg-4 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="{% static 'images/info_2.jpg' %}" alt=""></div>
						<div class="info_content">
							<div class="info_title">Test Info Title 2</div>
							<div class="info_text">Test Info text 2</div>
							<div class="button info_button"><a href="#"><span>read more</span><span>read more</span></a></div>
						</div>
					</div>
				</div>

				<!-- Info Box -->
				<div class="col-lg-4 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="{% static 'images/info_2.jpg' %}" alt=""></div>
						<div class="info_content">
							<div class="info_title">Test Info Title 3</div>
							<div class="info_text">Test Info text 3</div>
							<div class="button info_button"><a href="#"><span>read more</span><span>read more</span></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CTA -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cta_1.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_container d-flex flex-xl-row flex-column align-items-xl-start align-items-center justify-content-xl-start justify-content-center">
						<div class="cta_content text-xl-left text-center">
							<div class="cta_title">Make an appointment with one of our professional Doctors.</div>
							<div class="cta_subtitle">Morbi arcu neque, scelerisque eget ligula ac, congue tempor felis. Integer tempor, eros a egestas.</div>
						</div>
						<div class="button cta_button ml-xl-auto"><a href="#"><span>call now</span><span>call now</span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services -->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">Our Services</div>
					<div class="section_subtitle">to choose from</div>
				</div>
			</div>
			<div class="row icon_boxes_row">
				{% for course in course_list %}
				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"><img src="images/icon_1.svg" alt=""></div>
							<div class="icon_box_title">{{course.course_name}}</div>
						</div>
						<div class="icon_box_text">{{course.course_description}}</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col">
					<div class="button services_button ml-auto mr-auto"><a href="#"><span>read more</span><span>read more</span></a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- FAQ & News -->

	<div class="stuff">
		<div class="container">
			<div class="row">

				<!-- FAQ -->
				<div class="col-lg-7">
					<div class="faq">
						<div class="faq_title">Faq & Stuff</div>
						<div class="faq_subtitle">read all about it</div>
						<div class="elements_accordions">
							<div class="accordions">

								
								{% for faq in faq_list  %}
								<div class="accordion_container">
										<div class="accordion d-flex flex-row align-items-center active">
											<div>{{faq.question}}</div>
										</div>
										<div class="accordion_panel">
											<div>
												<p>{{faq.answer}}</p>
											</div>
										</div>
								</div>
								{% endfor %}
									
							</div>
						</div>
					</div>
				</div>

				<!-- Latest News -->
				<div class="col-lg-5">
					<div class="news">
						<div class="news_title">Latest News</div>
						<div class="news_subtitle">read all about it</div>
						<div class="news_container">
							{% for post in post_list %}
							<!-- Latest News Post -->
							<div class="latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="latest_image"><img src="images/latest_1.jpg" alt=""></div></div>
								<div class="latest_content">
									<div class="latest_title"><a href="news.html">{{post.title}}</a></div>
									<div class="latest_info">
										<ul class="d-flex flex-row align-items-start justify-content-start">
											<li><a href="#">by besost</a></li>
											<li><a href="#">{{post.created_date}}</a></li>
										</ul>
									</div>
									<div class="latest_comments"><a href="#">2 Comments</a></div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock main_content %}
    